@import '~bootstrap/scss/bootstrap.scss';

#listContainer {
    width:400px;
}

li button {
    visibility:hidden;
}

li:hover button {
    visibility:visible;
}

//onChange={this.onChange}

/*onClick={ (event,task) => this.deleteTask(event,this.task) }>*/